@charset "UTF-8";
@font-face {
  font-family: "mr_apexmk3";
  src: url("./assets/fonts/mr_apex/mr_apexmk3_medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/monserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ArchivoNarrow";
  src: url("./assets/fonts/archivo_narrow/ArchivoNarrow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ArchivoNarrow";
  src: url("./assets/fonts/archivo_narrow/ArchivoNarrow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ArchivoNarrow";
  src: url("./assets/fonts/archivo_narrow/ArchivoNarrow-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1e1e1a;
  overflow-x: hidden;
  min-height: 100vh;
}

.app {
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  padding-right: 50px;
  padding-left: 50px;
  max-width: 1700px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 680px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.more-special-group {
  position: relative;
  top: 100px;
  opacity: 0;
}

@media screen and (max-width: 680px) {
  .more-special-group.h-hide {
    display: block;
    opacity: 1;
    top: 0;
  }
}

.js-more-special-group {
  transform: translateY(-100px);
  transition: 2s;
  opacity: 1;
}

.logo {
  display: flex;
  height: 116px;
  width: 148px;
}

.subtitle {
  text-transform: uppercase;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #B8D761;
  font-size: 16px;
  padding: 5px 0;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 6px;
  margin-top: 18px;
  padding: 10px 0;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 36px;
    margin-top: 0;
  }
}
@media screen and (max-width: 340px) {
  .title {
    font-size: 26px;
  }
}

.descrip {
  color: #F6F6F6;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  line-height: 26px;
  padding: 5px 0;
}
@media screen and (max-width: 450px) {
  .descrip {
    font-size: 14px;
  }
}
@media screen and (max-width: 370px) {
  .descrip {
    line-height: 22px;
  }
}

.button-style {
  border: 1px solid #B8D761;
  margin-top: 42px;
  width: 180px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
}

.button-href-style {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #627237;
  text-align: center;
  padding: 14px 25px;
  font-size: 13px;
  display: block;
  height: 100%;
}

.button-style:hover {
  background: #bccd90;
  color: #1e1e1a;
  transition: 1s;
}

.descrip-style {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 4px;
  padding-bottom: 6px;
  line-height: 20px;
  padding-top: 6px;
  font-size: 18px;
  color: #F3F3F3;
  width: 388px;
}
@media screen and (max-width: 600px) {
  .descrip-style {
    width: auto;
  }
}

.href {
  text-transform: uppercase;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 6px;
  padding: 5px 2px;
  color: #B8D761;
}

.h-margintop {
  margin-top: 7px;
}

.h-hide {
  display: none;
}

.h-color {
  color: #B8D761;
  cursor: pointer;
}

.header {
  background: rgba(56, 56, 56, 0.5019607843);
  padding-bottom: 20px;
  padding-top: 20px;
  position: fixed;
  transition: 1s;
  z-index: 99;
  right: 0;
  left: 0;
  top: 0;
}
@media screen and (max-width: 1100px) {
  .header {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}
.header__event-style {
  background: content-box;
  top: -150px;
}

.header__wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .navigation {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

.navigation__list {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 147px;
}
@media screen and (max-width: 1280px) {
  .navigation__list {
    gap: 0;
  }
}
@media screen and (max-width: 600px) {
  .navigation__list {
    justify-content: center;
  }
}

@media screen and (max-width: 1280px) {
  li.navigation__item a.navigation__href {
    display: none;
  }
}

.presentation-block {
  padding-top: 328px;
  width: 100%;
  background: url(./assets/pic/main-man.png) no-repeat;
  background-size: contain;
  background-position: top right;
}
@media screen and (max-width: 930px) {
  .presentation-block {
    background-position: initial;
    background-size: cover;
  }
}
@media screen and (max-width: 600px) {
  .presentation-block {
    padding-top: 266px;
  }
}
@media screen and (max-width: 359px) {
  .presentation-block {
    padding-top: 200px;
  }
}

.presentation-block__wrapper {
  padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .presentation-block__wrapper {
    padding-bottom: 60px;
  }
}

.presentation-block__text-part {
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
}

.presentation-block__subtitle {
  text-transform: uppercase;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 6px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #B8D761;
}

.presentation-block__title {
  font-family: "mr_apexmk3";
  font-weight: 400;
  font-size: 48px;
  padding-bottom: 10px;
  letter-spacing: 10px;
  color: #EFEFEF;
  line-height: 58px;
  padding-top: 10px;
}
@media screen and (max-width: 600px) {
  .presentation-block__title {
    font-size: 48px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .presentation-block__button {
    margin-right: auto;
    margin-left: auto;
  }
}

.presentation-block__contacts {
  flex-direction: column;
  margin-top: 166px;
  display: flex;
}
@media screen and (max-width: 600px) {
  .presentation-block__contacts {
    display: none;
  }
}

.presentation-block__social {
  justify-content: flex-start;
  margin-top: 102px;
  display: flex;
  gap: 67px;
}
@media screen and (max-width: 1280px) {
  .presentation-block__social {
    display: none;
  }
}

.presentation-block__social-item {
  border-bottom: 1px solid #627237;
  padding-bottom: 6px;
}

.presentation-block__social-item:hover {
  border-bottom: 1px solid #B8D761;
  transition: 0.5s;
}

.presentation-block__social-href {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  color: #929292;
  font-size: 14px;
  padding: 5px 0;
}

.presentation-block__bottom {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  width: 60%;
  gap: 260px;
}
@media screen and (max-width: 1280px) {
  .presentation-block__bottom {
    justify-content: center;
    width: 100%;
  }
}

.presentation-block__more-group {
  flex-direction: column;
  align-items: center;
  color: #F3F3F3;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 680px) {
  .presentation-block__more-group {
    display: none;
  }
}

.presentation-block__more-text {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  color: #F3F3F3;
}

.service-block {
  background-color: #FFFFFF;
}

@media screen and (max-width: 1330px) {
  .service-block__wrapper.container {
    padding-right: 0;
    padding-left: 0;
  }
}

.service-block__wrapper {
  padding-bottom: 158px;
  position: relative;
  padding-top: 130px;
}
@media screen and (max-width: 1000px) {
  .service-block__wrapper {
    padding-top: 34px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1330px) {
  .service-block__wrapper {
    padding-bottom: 0;
  }
}

.service-block__head-content {
  flex-direction: column;
  display: flex;
}
@media screen and (max-width: 1330px) {
  .service-block__head-content {
    padding-left: 10px;
  }
}

.service-block__main-content {
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 1330px) {
  .service-block__main-content {
    margin-top: 0;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.service-block__prices {
  vertical-align: top;
  margin-right: 45px;
  width: 356px;
}

@media screen and (max-width: 1330px) {
  .service-block__list {
    display: none;
  }
}

.service-block__item {
  justify-content: space-between;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  align-items: baseline;
  line-height: 30px;
  padding-top: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
}

.service-block__item:hover {
  background: linear-gradient(to top, #627237 3%, #B8D761 47%, transparent 50%);
}

.service-block__item-dot {
  border-bottom: 1px dotted #383838;
  height: 1em;
  flex: 1 0;
}

.service-block__prices,
.service-block__img {
  display: inline-block;
}

.service-block__img {
  position: relative;
  max-width: 100%;
  height: 532px;
  width: 813px;
}
@media screen and (max-width: 1330px) {
  .service-block__img {
    height: 100%;
    width: 100%;
  }
}

.service-block__subcontent {
  background-color: #FFFFFF;
  pointer-events: none;
  text-align: justify;
  padding-right: 30px;
  color: #383838;
  position: absolute;
  padding-left: 30px;
  bottom: -50px;
  right: 50px;
  width: 474px;
  height: auto;
}
@media screen and (max-width: 1330px) {
  .service-block__subcontent {
    background: none;
    color: #FFFFFF;
    left: 0;
    top: 0;
  }
}
@media screen and (max-width: 600px) {
  .service-block__subcontent {
    padding-left: 10px;
    width: auto;
  }
}

.service-block__subcontent-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
}
@media screen and (max-width: 1330px) {
  .service-block__subcontent-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 64px;
  }
}
@media screen and (max-width: 600px) {
  .service-block__subcontent-title {
    font-size: 18px;
  }
}

.service-block__subcontent-text {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 13px;
  line-height: 19px;
  font-size: 12px;
}
@media screen and (max-width: 1330px) {
  .service-block__subcontent-text {
    display: none;
  }
}

.service-block__hide-button {
  display: none;
}
@media screen and (max-width: 1330px) {
  .service-block__hide-button {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.service-block__hide-prices {
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1330px) {
  .service-block__hide-prices {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .service-block__hide-prices {
    gap: 6px;
  }
}

.label {
  align-items: center;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1330px) {
  .label {
    padding-left: 20px;
  }
}

.label:hover {
  background-color: rgba(184, 215, 97, 0.2392156863);
}

.radio-field {
  display: none;
}

.label__fake {
  border: solid 1px #627237;
  display: inline-block;
  background: #FFFFFF;
  position: relative;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.label__fake::before {
  transform: translate(-50%, -50%);
  background: #627237;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
  display: block;
  content: "";
  height: 10px;
  width: 10px;
  opacity: 0;
  left: 50%;
  top: 50%;
}

.label__text {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  align-items: baseline;
  padding-bottom: 5px;
  color: #383838;
  line-height: 30px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .label__text {
    font-size: 18px;
  }
}

.radio-field:checked + .label__fake::before {
  opacity: 1;
}

.radio-field:checked + .label:hover {
  color: #627237;
  background-color: #627237;
}

.header__burger {
  display: none;
}
@media screen and (max-width: 1280px) {
  .header__burger {
    position: absolute;
    display: block;
    right: 20px;
  }
}

.burger {
  background: content-box;
  pointer-events: visible;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
  padding: 10px;
  display: flex;
  border: none;
  opacity: 1;
}
.burger__event {
  pointer-events: none;
  opacity: 0;
}

.burger:hover span {
  background-color: #627237;
  transition: 0.5s;
}

.burger span {
  background-color: #B8D761;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 3px;
  width: 22px;
  height: 2px;
}

.burger span:last-child {
  margin-bottom: 0;
}

.about-block__icons-list,
.about-block__part {
  display: flex;
}

.about-block {
  margin-top: 130px;
}
@media screen and (max-width: 1000px) {
  .about-block {
    margin-top: 34px;
  }
}

@media screen and (max-width: 600px) {
  .about-block__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.about-block__text-list {
  color: #F6F6F6;
  flex-direction: column;
}

.about-block__subtitle {
  color: #B8D761;
}

.about-block__title {
  color: #F6F6F6;
  margin-bottom: 0;
}

.about-block__descrip {
  flex-direction: column;
  text-align: justify;
  max-width: 700px;
}
@media screen and (max-width: 1000px) {
  .about-block__descrip {
    max-width: 100%;
  }
}

.about-block__descrip > div:nth-child(2) {
  margin-top: 15px;
}

.about-block__icons-list {
  justify-content: space-around;
  padding-top: 10px;
  padding-top: 10px;
  margin-top: 60px;
}
@media screen and (max-width: 1000px) {
  .about-block__icons-list {
    display: none;
  }
}

.about-block__icons-item {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.about-block__icons-item:hover .about-block__icons-title {
  color: #B8D761;
}

.about-block__icons-title {
  color: #F6F6F6;
  text-transform: uppercase;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  .about-block__img {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .about-block__img.h-hide {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .about-block__img.h-hide {
    margin-top: 20px;
    width: 100%;
  }
}

.about-block__main-content {
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
  gap: 160px;
}
@media screen and (max-width: 1000px) {
  .about-block__main-content {
    display: block;
  }
}

.about-block__text-block {
  flex-direction: column;
  display: flex;
}

.about-block__hidden-subtitle {
  margin-top: 50px;
  display: none;
}
@media screen and (max-width: 600px) {
  .about-block__hidden-subtitle {
    display: block;
  }
}

.about-block__hidden-descrip {
  text-align: center;
  display: none;
}
@media screen and (max-width: 600px) {
  .about-block__hidden-descrip {
    display: block;
  }
}

.staff-block {
  margin-top: 100px;
}
@media screen and (max-width: 1000px) {
  .staff-block {
    margin-top: 34px;
  }
}

.staff-block__text-part {
  color: #F6F6F6;
  text-align: start;
  margin: 0 auto;
}

.staff-block__card-list {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: flex;
  display: none;
  gap: 50px;
}
@media screen and (max-width: 1360px) {
  .staff-block__card-list {
    gap: 0;
  }
}

.staff-block__card {
  position: relative;
  cursor: pointer;
}

.staff-block__card-img {
  height: 532px;
  width: 386px;
}

.staff-block_first-man {
  background: url(./assets/pic/masters-block/master1.png);
}

.staff-block_second-man {
  background: url(./assets/pic/masters-block/master2.png);
}

.staff-block_third-man {
  background: url(./assets/pic/masters-block/master3.png);
}

.staff-block__card-descrip {
  color: #F6F6F6;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  position: absolute;
  line-height: 22px;
  padding: 0 50px;
  opacity: 0;
  top: 40%;
}

.staff-block__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  padding: 0 5px;
  font-size: 30px;
}

.staff-block__descrip {
  padding-top: 30px;
}

.staff-block__reserve {
  padding-top: 30px;
  text-align: end;
}

.staff-block__reserve:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.staff-block__buttons {
  justify-content: space-evenly;
  margin-top: 50px;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1260px) {
  .staff-block__buttons {
    display: none;
  }
}

.staff-block__hide-button {
  background-color: #000;
  display: none;
}
@media screen and (max-width: 620px) {
  .staff-block__hide-button {
    display: block;
    width: 100%;
    margin: 0;
  }
}

.works-block {
  margin-top: 94px;
  max-width: 100%;
}
@media screen and (max-width: 1000px) {
  .works-block {
    margin-top: 34px;
  }
}

.works-block__wrapper {
  position: relative;
  padding-right: 0;
  padding-left: 0;
}

.works-block__head-hide-content.works-block__head-content {
  display: none;
}
@media screen and (max-width: 680px) {
  .works-block__head-hide-content.works-block__head-content {
    padding-right: 15px;
    padding-left: 15px;
    position: static;
    display: block;
  }
}

.works-block__gallery {
  justify-content: center;
  flex-direction: column;
  background: #000;
  align-items: center;
  display: flex;
  gap: 10px;
}

.works-block__row {
  display: flex;
  gap: 10px;
}

.works-block__img {
  opacity: 0.4;
}

.works-block__img:hover {
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
}

.works-block__head-content {
  pointer-events: none;
  padding-right: 50px;
  padding-left: 50px;
  position: absolute;
  top: 112px;
}
@media screen and (max-width: 680px) {
  .works-block__head-content {
    display: none;
  }
}

.works-block__title {
  color: #F6F6F6;
}

.works-block__descrip {
  color: #F6F6F6;
  text-align: justify;
  max-width: 344px;
}

.works-block__social {
  pointer-events: visible;
  padding-bottom: 10px;
  align-items: center;
  padding-top: 10px;
  margin-top: 35px;
  display: flex;
  gap: 12px;
}

.works-block__social-href {
  color: #F6F6F6;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 14px;
}

.works-block__social-href:hover {
  color: #B8D761;
}

.works-block__hide-descrip {
  display: none;
}
@media screen and (max-width: 680px) {
  .works-block__hide-descrip {
    padding-right: 15px;
    padding-left: 15px;
    position: static;
    display: block;
    max-width: 100%;
  }
}

.works-block__hide-social {
  display: none;
}
@media screen and (max-width: 680px) {
  .works-block__hide-social {
    display: flex;
  }
}

.icon-hide-instagram {
  font-size: 40px;
  color: #B8D761;
  cursor: pointer;
}

.works-block__hide-social-href {
  max-width: 100px;
}

.wrapper {
  margin: 50px auto 0;
  position: relative;
  max-width: 200px;
  display: none;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .wrapper {
    display: block;
  }
}

.slider-container {
  overflow: hidden;
  max-width: 100%;
}
@media screen and (max-width: 1260px) {
  .slider-container {
    display: block;
  }
}

.slider-track {
  align-items: center;
  transition: 0.2s;
  display: flex;
}

.slider-item {
  background-size: cover;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  display: flex;
}

.slider-item a {
  color: #F6F6F6;
  text-transform: uppercase;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 10px;
  text-align: center;
}

.slider-item:first-child,
.slider-item:last-child {
  gap: 50px;
}

.slider-item img {
  height: 100%;
  width: 100%;
}

.slider-buttons {
  text-align: center;
}

.btn-next,
.btn-prev {
  background-color: #1e1e1a;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  color: #B8D761;
  border: none;
  top: 30%;
}

.btn-prev {
  left: -20%;
}

.btn-next {
  right: -20%;
}

button.btn-next:disabled > span {
  opacity: 0.1;
}

button.btn-prev:disabled > span {
  opacity: 0.1;
}

@media screen and (max-width: 1200px) {
  .mySwiper {
    display: none;
  }
}

.slider-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .slider-container {
    max-width: 600px;
  }
}

.staff-block__slider-img {
  position: relative;
}

.staff-block__slider-card-descrip {
  opacity: 0;
  top: 36%;
}
@media screen and (max-width: 500px) {
  .staff-block__slider-card-descrip {
    padding: 0 10px;
    top: 52%;
  }
}
@media screen and (max-width: 1200px) {
  .staff-block__slider-card-descrip {
    opacity: 1;
    top: 55%;
  }
}

.staff-block__slider-card:hover img {
  transition: 1s;
  opacity: 0;
}
@media screen and (max-width: 1200px) {
  .staff-block__slider-card:hover img {
    opacity: 1;
  }
}

.staff-block__slider-card:hover .staff-block__slider-card-descrip {
  transition: 1s;
  opacity: 1;
}

.staff-block__slider-card-descrip:hover .staff-block__slider-reserve {
  text-decoration: underline;
  transition: 0.3s;
}

.staff-block__slider-card:hover {
  transition: 0.5s;
}

.staff-block__slider-img {
  background-size: cover;
  height: 532px;
  width: 386px;
}

@media screen and (max-width: 500px) {
  .staff-block__slider-descrip {
    padding-top: 19px;
  }
}
@media screen and (max-width: 350px) {
  .staff-block__slider-descrip {
    padding-top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .staff-block__slider-name {
    font-size: 30px;
  }
}

@media screen and (max-width: 620px) {
  .staff-block__slider-reserve {
    display: none;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #B8D761;
}

.master-mini-slider {
  max-width: 500px;
  display: none;
}
@media screen and (max-width: 1200px) {
  .master-mini-slider {
    display: block;
  }
}

.reviews-block {
  background-color: #FFFFFF;
  margin-top: 92px;
}

.reviews-block__wrapper {
  padding-bottom: 92px;
  padding-top: 130px;
}
@media screen and (max-width: 1000px) {
  .reviews-block__wrapper {
    padding-top: 34px;
    padding-bottom: 0;
  }
}

.reviews-block__main-content {
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-left: 30px;
  display: flex;
}
@media screen and (max-width: 1250px) {
  .reviews-block__main-content {
    gap: 30px;
  }
}
@media screen and (max-width: 950px) {
  .reviews-block__main-content {
    background: url(./assets/pic/clients/img_mini.png);
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-size: cover;
    margin-left: 0;
    height: 360px;
  }
}

.reviews-block__main-content-part {
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 950px) {
  .reviews-block__main-content-part:nth-child(2) {
    display: none;
  }
}

.reviews-block__title {
  max-width: 500px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .reviews-block__title {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .reviews-block__title.h-hide {
    display: block;
  }
}

.reviews-block__icon {
  position: absolute;
  width: 108px;
  left: -1%;
  top: 8%;
}
@media screen and (max-width: 950px) {
  .reviews-block__icon {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .reviews-block__button {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .reviews-block__button.button-style.h-hide {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.reviews-block__img {
  padding: 10px 0;
}

.reviews-slider {
  max-width: 350px;
  margin: 0;
}
@media screen and (max-width: 450px) {
  .reviews-slider {
    color: #F6F6F6;
    max-width: 300px;
    left: 20px;
  }
}
@media screen and (max-width: 350px) {
  .reviews-slider {
    max-width: 260px;
  }
}

.reviews-slider__card-discrip {
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  min-height: 220px;
  padding: 0 5px;
  display: flex;
}

.reviews-slider__slider-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #383838;
  padding: 5px 0;
}
@media screen and (max-width: 950px) {
  .reviews-slider__slider-name {
    color: #F6F6F6;
    font-size: 16px;
  }
}

@media screen and (min-width: 950px) {
  .reviews-slider__slider-discrip {
    color: #313131;
  }
}

.reviews-slider__button-next,
.reviews-slider__button-prev {
  top: 90%;
}

.reviews-slider__button-next.swiper-button-next {
  right: 0;
}

.reviews-slider__button-prev.swiper-button-prev {
  left: 70%;
}

.map-block {
  position: relative;
  min-height: 740px;
  padding-top: 50px;
}

#map {
  position: absolute;
  overflow: hidden;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

@media screen and (max-width: 1000px) {
  .map-block__main-content {
    flex-direction: column-reverse;
    margin-top: 100px;
    display: flex;
    gap: 36px;
  }
}

.map-block__contacts {
  flex-direction: column;
  position: absolute;
  display: flex;
  bottom: 19%;
}
@media screen and (max-width: 1000px) {
  .map-block__contacts {
    text-align: center;
    right: 30%;
    top: 25%;
  }
}
@media screen and (max-width: 400px) {
  .map-block__contacts {
    right: 17%;
  }
}

.map-block__descrip {
  color: #B8D761;
  line-height: 18px;
  font-size: 14px;
}
@media screen and (max-width: 1000px) {
  .map-block__descrip {
    margin-right: auto;
    margin-left: auto;
  }
}

.map-block__location {
  position: relative;
  height: 50px;
}

.icon-location_on {
  color: #627237;
  position: absolute;
  font-size: 50px;
  bottom: 50px;
  left: 275px;
}
@media screen and (max-width: 1000px) {
  .icon-location_on {
    left: 50%;
  }
}

.map-block__form-part {
  background-color: #FFFFFF;
  position: relative;
  margin-left: auto;
  margin-top: 180px;
  width: 590px;
}
@media screen and (max-width: 1000px) {
  .map-block__form-part {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.map-block__form {
  flex-direction: column;
  max-width: 360px;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 1000px) {
  .map-block__form {
    padding: 0 10px;
    width: 290px;
  }
}

.map-block__form-title {
  text-transform: uppercase;
  color: #313131;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  margin-top: 45px;
  padding: 10px 0;
  font-size: 29px;
}
@media screen and (max-width: 1000px) {
  .map-block__form-title {
    margin-top: 30px;
  }
}

.map-block__form-text {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #959595;
}

.map-block__form-input {
  border: none;
  border-bottom: 1px solid #313131;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 360px;
  margin-top: 10px;
  padding: 10px 0;
  outline: none;
}

.map-block__form-label {
  padding: 45px 0 65px 0;
}
@media screen and (max-width: 1000px) {
  .map-block__form-label {
    padding: 30px 0;
  }
}

.map-block__form-checkbox {
  display: none;
}

.map-block__form-checkbox-fake {
  border: 1px solid #959595;
  display: inline-block;
  background: #FFFFFF;
  position: relative;
  height: 15px;
  width: 15px;
}

.map-block__form-checkbox-fake::before {
  transform: translate(20%, -5%);
  position: absolute;
  transition: 0.5s;
  font-size: 14px;
  color: #FFFFFF;
  content: "✓";
  opacity: 0;
}

.map-block__form-checkbox:checked + .map-block__form-checkbox-fake::before {
  opacity: 1;
}

.map-block__form-checkbox:checked + .map-block__form-checkbox-fake {
  background-color: #627237;
  border: #627237;
}

.map-block__form-text {
  margin-left: 10px;
  font-size: 12px;
  padding: 5px 0;
}

.map-block__form-button {
  background: #F6F6F6;
}

.map-block__href {
  text-decoration: underline;
  color: #959595;
}

.map-block__form-button {
  border-color: #1e1e1a;
}
@media screen and (max-width: 1000px) {
  .map-block__form-button {
    margin: 30px auto 0;
  }
}

.error {
  border-bottom: 1px solid #B8D761;
}

.form-error {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 12px;
  padding: 2px;
  height: 10px;
}

.error-chek {
  border-color: red;
}

.modal {
  position: fixed;
  display: none;
  right: -100px;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  top: 0;
}
.modal__content {
  background-color: rgba(20, 18, 18, 0.968627451);
  border: 1px solid rgba(184, 215, 97, 0.2392156863);
  flex-direction: column;
  margin: 0 0 0 auto;
  height: 100vh;
  display: flex;
  padding: 20px;
  z-index: 999;
  width: 220px;
  gap: 30px;
}
.modal__event-style {
  transform: translateX(-100px);
  transition: 1s;
  opacity: 1;
}
.modal__close {
  transform: rotate(0deg);
  color: #929292;
  font-weight: bold;
  transition: 0.5s;
  font-size: 40px;
  cursor: pointer;
}
.modal__close-event {
  transform: rotate(45deg);
}
.modal__inner {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}
.modal__title {
  font-size: 20px;
}
.modal__social {
  flex-direction: column;
  display: flex;
}
.modal__social-item {
  width: 100px;
}

.modal__item-list {
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.footer {
  background: #6e6d6d;
  min-height: 295px;
}

.footer__wrapper {
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 50px;
  padding-top: 86px;
  display: flex;
}
@media screen and (max-width: 850px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 37px;
    padding-top: 38px;
  }
}

.footer__menu {
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  gap: 54px;
}
@media screen and (max-width: 850px) {
  .footer__menu {
    flex-direction: column;
    align-items: center;
    gap: 37px;
  }
}

.footer__menu-list {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 24px;
  font-size: 20px;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 850px) {
  .footer__menu-list {
    flex-direction: column;
    align-items: center;
    gap: 37px;
  }
}

.footer__menu-list:nth-child(2) {
  gap: 19px;
}

.footer__menu-item,
.footer__menu-item-policy,
.footer__social-list-item {
  padding: 5px 0;
}

.footer__menu-href {
  color: #383838;
}

.footer__menu-href:hover,
.footer__policy-href:hover,
.footer__social-href:hover {
  color: #B8D761;
}

.footer__social-list {
  color: #929292;
  display: flex;
  gap: 20px;
}

.footer__policy-href,
.footer__social-href {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #929292;
}/*# sourceMappingURL=index.css.map */